
{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h5 class="card-header">{{ trans.period }}</h5>
    <div class="card-body">
        <h5 class="card-title">{{ trans.value }} - {{ trans.unit }}</h5>
        <h5 class="card-title">Статус: {{ trans.status }}</h5>
      <p class="card-text">{{ trans.subject }}</p>
      
      <a href="{{ url_for('transaction_update', id=trans.id) }}" class="btn btn-primary">Изменить</a>
      
        <a href="{{ url_for('transaction_delete', id=trans.id) }}" class="btn btn-danger">Удалить</a>  
      
    </div>
  </div>

{% endblock content %}
